<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: nav"></nav>
    <main>

        <form method="post" action="/events/create">
            <!-- bootstrap uses form-group. We could have used a fieldset element, but fieldsets require a legend element, so using a div would be better here. -->
            <div class="form-group">
                <label>Event Name <!-- TODO: does bootstrap have a class for labels? Probably, but it wasn't mentioned. -->
                    <input type="text" name="eventName" value="" class="form-control" />
                </label><!-- Let's wrap our input in the label instead of having it be outside. It WILL make the input field width shorter and look better. -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create Event" class="btn btn-success" />
            </div>
        </form>

    </main>

</body>
</html>