<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: nav"></nav>
    <main>

        <form method="post" action="/events/create">
            <!-- NOTE: thymeleaf's field attribute will generate id, type, name, and value input attributes -->
            <div class="form-group">
                <label>Name
                    <input th:field="${event.name}" class="form-control" />
                </label>
                <span class="error" th:errors="${event.name}"></span>
            </div>
            <div class="form-group">
                <label>Description
                    <input th:field="${event.description}" class="form-control" />
                </label>
                <span class="error" th:errors="${event.description}"></span>
            </div>
            <!-- Why not try type="email"? ThymeLeaf should do that for us. -->
            <div class="form-group">
                <label>Contact Email
                    <input th:field="${event.contactEmail}" class="form-control" />
                </label>
                <span class="error" th:errors="${event.contactEmail}"></span>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select th:field="${event.type}">
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type.displayName}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

    </main>

</body>
</html>