<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: nav"></nav>
    <main>

        <form method="post" action="/events/create">
            <!-- NOTE: thymeleaf's field attribute will generate id, type, name, and value input attributes -->
            <div class="form-group">
                <label>Name
                    <input class="form-control" th:field="${event.name}" />
                </label>
                <span class="error" th:errors="${event.name}"></span>
            </div>
            <div class="form-group">
                <label>Description
                    <input class="form-control" th:field="${event.description}" />
                </label>
                <span class="error" th:errors="${event.description}"></span>
            </div>
            <!-- Why not try type="email"? ThymeLeaf should do that for us. -->
            <div class="form-group">
                <label>Contact Email
                    <input class="form-control" th:field="${event.contactEmail}" />
                </label>
                <span class="error" th:errors="${event.contactEmail}"></span>
            </div>
            <!-- Not part of this assignment, but definitely a good exercise -->
            <div th:unless="${categories} and ${categories.size()}" class="form-group"><b>Yikes!</b> There aren't any categories to pick from! Why not <a href="../eventCategories/create">create</a> one so we can fill this form out.</div>
            <div th:if="${categories.size() > 0}" class="form-group">
                <label>Category
                <select th:field="${event.eventCategory}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                </label>
                <span class="error" th:errors="${event.eventCategory}"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

    </main>

</body>
</html>