<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: nav"></nav>

<main>

    <p th:unless="${events} and ${events.size()}">There are no events scheduled. Why don't you <a href="events/create">create</a> one?</p>

    <!--
    <ul>
        <th:block th:each="event : ${events}">
            <li th:text="${event}"></li>
        </th:block>
    </ul>
    -->

    <!-- Not part of this exercise, but worth doing anyway since we did something similar with the ul. -->
    <table th:if="${events.size() > 0}" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.contactEmail}"></td>
                <td th:text="${event.category.name}"></td>
                <td><a th:href="@{/events/edit/{id}(id=${event.id})}" title="Modify this Event">Edit</a></td>
            </tr>
        </tbody>
    </table>

</main>

</body>
</html>