<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <!-- jquery (otherwise Bootstrap complains) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <!--
    <script th:src="@{/js/scripts.js}"></script>
    -->
</head>
<body class="container">
<!-- If you are using bootstrap, every body needs a container class. -->

<header th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>
</header>

<!-- FYI: These nav and nav-item classes are bootstrap classes. -->
<nav th:fragment="nav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events" title="List All Events">List All</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create" title="Create Event">+ Add</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete" title="Delete Events">&times; Remove</a></li>
    </ul>
</nav>

</body>
</html>