<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: nav"></nav>
    <main>

        <form method="post" action="/eventCategories/create">
            <!-- NOTE: thymeleaf's field attribute will generate id, type, name, and value input attributes -->
            <div class="form-group">
                <label>Name
                    <input class="form-control" th:field="${eventCategory.name}" />
                </label>
                <span class="error" th:errors="${eventCategory.name}"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

    </main>

</body>
</html>