<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: nav"></nav>

<main>

    <p th:unless="${categories} and ${categories.size()}">There are no event categories yet. Why don't you <a href="eventCategories/create">create</a> one?</p>

    <!-- TODO: report how many events are using a specific category -->
    <!-- Not part of this exercise, but worth doing anyway since we did something similar with the ul. -->
    <table th:if="${categories.size() > 0}" class="table table-striped">
        <thead>
        <tr>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td><a th:text="${category.name}" th:href="'/events?categoryId=' + ${category.id}"></a></td>
            <td><a th:href="@{/eventCategories/edit/{id}(id=${category.id})}" title="Modify this Event Category">Edit</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><a href="eventCategories/create" title="Add a new category.">Add</a></td>
            <td></td>
        </tr>
        </tfoot>
    </table>

</main>

</body>
</html>